GROQ_API_KEY = https://console.groq.com/home?utm_source=website&utm_medium=outbound_link&utm_campaign=dev_console_click&_gl=1*1usg1ip*_gcl_au*MTM2MjMzMzI5My4xNzg5NzMwODk3*_ga*MTA1OTU0MjQ5NS4xNzg5NzMwODk3*_ga_4TD0X2GEZG*czE3ODk3MzA4OTckbzEkZzEkdDE3ODk3MzA5NDQkajEzJGwwJGgw
GROQ_MODEL = openai/gpt-oss-120b